main {
    margin: 40px;
}

p {
    font-size: large;
}

#authorBox {
    padding-top: 20px;
    margin: 20px;
}

h4 a {
    font-size: x-large;
}

#professorBox {
    padding-top: 20px;
    margin: 20px;
}

#inspir {
    padding-top: 20px;
    margin: 20px;
}

#inspir p{
    padding-left: 20px;
    max-width: 600px;
}
