header {
    background-color: #6b0b0b;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

body {
    background-color: #9c9999;
    margin: 0;
}

.logo {
    flex-grow: 1;
    text-align: center;
    margin-left: 100px;
}
.authors, .main {
    padding: 12px 24px; /* Adjust padding as needed */
    background-color: #aa0014; /* Button background color */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color */
    margin-left: 10px; /* Adjust spacing between buttons */
    transition: background-color ease 0.5s;
}

/* Hover effect */
.authors:hover, .main:hover {
    background-color: #f50d0d; /* Darker shade of button color */
}

/* Active effect */
.authors:active, .main:active {
    transform: translateY(1px); /* Push the button down slightly when clicked */
}

/* footer */
footer {
    background-color: #6b0b0b;
    height: 80px;
    display: flex;
    justify-content: center;  
    padding-top: 20px;  
}

footer p {
    color: white;
    font-size: large;
}

.back-button {
    position: absolute; /* or fixed */
    padding: 12px 24px; /* Adjust padding as needed */
    background-color: #aa0014; /* Button background color */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color */
    text-align: left;
    transition: background-color ease 0.5s;
}

/* Hover effect */
.back-button:hover {
    background-color: #f50d0d; /* Darker shade of button color */
    cursor: pointer;
}

/* Active effect */
.back-button:active {
    transform: translateY(1px); /* Push the button down slightly when clicked */
}
