header {
    background-color: #6b0b0b;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

body {
    background-color: #9c9999;
}

.logo {
    flex-grow: 1;
    text-align: center;
}
.authors, .main {
    padding: 12px 24px; /* Adjust padding as needed */
    background-color: #aa0014; /* Button background color */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color */
    margin-left: 10px; /* Adjust spacing between buttons */
}

/* Hover effect */
.authors:hover, .main:hover {
    background-color: #f50d0d; /* Darker shade of button color */
}

/* Active effect */
.authors:active, .main:active {
    transform: translateY(1px); /* Push the button down slightly when clicked */
}