header {
    background-color: gray;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body {
    background-color: lightgray;
}

.authors, .main {
    padding: 10px;
}