/* 
    Authors: Dylan Booth & Nate Reff
*/

main {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
        "filters right"
        "filters right";
}

/* filters section */

#filters {
    margin: 10px;
    padding: 10px;
}

#apply {
    margin-top: 20px;
}

#genres {
    display: flex;
    grid-area: filters;
    flex-direction: column;
}

#genres label {
    font-size: large;
    margin-bottom: 3px;
}

#sorting form {
    display: flex;
    flex-direction: column;
}

/* right side of screen */
#right {
    grid-area: right;
}

/* search section */

#searchForm {
    display: flex;
    align-items: baseline;
    margin: 10px;
    padding-left: 4px;
}

#searchForm h1 input {
    height: 20px;
}

#searchForm button {
    height: 20px;
    margin-left: 20px;
}

/* movie list section */

#movieList {
    margin: 10px;
}

#movieList {
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#cb {
    border: 2px black solid;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    margin: 10px;
    /* padding: 4px; */
    width: 250px;
    cursor: pointer;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

#cb:hover {
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .75);
}

#cb h3 {
    text-align: center;
    font-size: xx-large;
}

#movieList div #get_info {
    border: none;
}