main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "left right"
        "left right";
    padding-bottom: 75px;
    margin: 20px;
    height: auto;
}

/* left */
#left {
    margin-right: 20px;
}

#left img {
    border-radius: 20px;
    width: 480px;
    height: 768px;
}


/* right */

/* title */
#title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
}

#title h1 {
    font-size: 40px;
}

/* genres */
#genres {
    display: flex;
    align-items: center;
}

#genres h3 {
    font-size: large;
}

#genres ul {
    list-style-type: none;
    flex-wrap: wrap;
}

#genres ul li {
    display: inline;
    margin-right: 10px;
    font-size: large;
}

/* release date */
#releaseDate {
    /* margin-bottom: 5px; */
    display: flex;
    align-items: center;
}

#releaseDate h3 {
    font-size: large;
    padding-right: 10px;
}

/* movie rating (pg...) */
#mvRating {
    display: flex;
    align-items: center;
}

#mvRating h3 {
    margin-right: 10px;
}

/* description */
#description h3{
    font-size: large;
}

#description p {
    font-size: medium;
}

/* review ratings */
#reviewRatings h3 {
    font-size: large;
}

#reviewRatings p {
    font-size: medium;
}


