main {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-areas: 
        "left right"
        "left right";
    padding-bottom: 75px;
    margin: 20px;
    height: auto;
}

#movieTitle {
    text-align: center; /* Center text horizontally */
    margin-top: 0; /* Remove default top margin */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

